* {
  box-sizing: border-box;
}
body {
  background-color: #f8f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 48px;
  max-width: 100%;
  width: 640px;
}
.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  z-index: -1;
}
.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #e0e0e0;
  transition: 0.4s ease;
}
.circle.active {
  border-color: #3498db;
}
.btn {
  background-color: #3498db;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 48px;
  margin: 12px;
  font-size: 24px;
}
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
